@use '../../../../../../styles/styles' as *;

button {
  padding: rem(12) rem(16);
  font-size: font(14);
  font-weight: 600;
  border-radius: rem(8);
  background: color(accent-900);
  color: color(neutral-900);
  white-space: nowrap;

  &:hover {
    background: color(accent-800);
  }

  @include m {
    padding: rem(16) rem(24);
    font-size: font(16);
    border-radius: rem(12);
  }
}