@use 'src/styles/styles' as *;

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: rem(24) rem(12);;
  font-size: font(12);
  background: color(neutral-200);
  color: color(neutral-400);

  @include m {
    padding: rem(24) rem(64);
    font-size: font(14);
  }
}