<h1 class="list__title">Region: {{ region?.label }}</h1>
<ul class="list">
  <ng-container *ngIf="countries$; else loading">
    <li *ngFor="let country of countries$ | async">
      <a [routerLink]="['./', country.cca2]">
        <picture class="list__flag">
          <source [srcset]="country.flags.svg" type="image/svg" />
          <img
            [src]="country.flags.png"
            [alt]="country.flags.alt"
            width="40"
            height="auto"
          />
        </picture>
        {{ country.name.common }}
      </a>
    </li>
  </ng-container>

  <ng-template #loading>
    <ngx-skeleton-loader
      count="3"
      [theme]="{
        height: '50px',
        'border-radius': '8px',
        'margin-bottom': '4px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="3"
      [theme]="{
        height: '50px',
        'border-radius': '8px',
        'margin-bottom': '4px'
      }"
    ></ngx-skeleton-loader>
  </ng-template>
</ul>
