@use "../utils/_mixins.scss" as *;
@use "../utils/_functions.scss" as *;

html {
  @include generate-fonts;
  @include generate-colors;
  @include generate-breakpoints;
}

body {
  color: color(neutral-200);
  background: color(bg);
  font-family: 'Inter', Arial, sans-serif;
}